.app-header {
    display: flex;
    background-color: #017d92;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
.logo-img {
    align-items: left;
    height: 50px;
    width: 50px;
}

.header-container {
    margin-left: 2rem;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

  .header-container h1 {
    margin: 0;
    font-size: 30px;
  }
  
  .header-container p {
    margin: 5px 0 0;
    font-size: 20px;
  }
  